language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"

install:
  # Install `restructuredtext_lint`
  - python setup.py develop

  # Install dev requirements
  - pip install -r requirements-dev.txt

script:
  # Run our tests
  - ./test.sh

notifications:
  email:
    recipients:
      - todd@twolfson.com
    on_success: change
    on_failure: change
