# Based on https://github.com/actions/starter-workflows/blob/d3334c066a3f79ad2d247f51e89833393e15182a/ci/python-package.yml
name: restructuredtext-lint

on:
  push:
    # TODO: Restore me to default only
    # branches: [ $default-branch ]
    branches: "*"
  pull_request:
    branches: [ $default-branch ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r requirements-dev.txt
    - name: Install `restructuredtext_lint`
      run: |
        python setup.py develop
    - name: Run tests
      run: |
        ./test.sh
